@model IEnumerable<PartialViewPassingModel.Models.Product>

@{
    ViewBag.Title = "Product Show Page";
   
}

<p>
    Partial View
    @Html.Partial("~/Views/Shared/_PartialView1.cshtml", Model)
</p>


