@using Microsoft.Ajax.Utilities
@model IEnumerable<WebMdApp_02.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Articles written by renowned Doctors:</h2>

@foreach (var item in Model)
{
   
        <h1>
           
             @Html.ActionLink(item.Title, "Post", new { id = item.ArticleId })
            

        </h1>
        <div>
            <i>written by - </i>
            
            @Html.DisplayFor(modelItem => item.Doctor.DoctorName)
        </div>
    <div>
        <img src="@Url.Content("~/images/"+item.ImagePath)" width="50px" height="50px">
        
    </div>
    
        @*<div class="article_content">
            @Html.DisplayFor(modelItem=>item.Content)
        </div>*@
    <div>
        @{
            string partialContent = item.Content.Substring(0, 100);
        }
        <p>
            @partialContent
        </p>
    </div>
    
   
    
    
}